body{
    min-height: 1000px;
}

/*Mural*/
header{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
}

header.animacion{
    height: 150px;
}

header .bannerh{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    opacity: 0.5;
}

header.animacion .bannerh{
    opacity: 0.5;
}

header .logoh{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    color: white;
    transition: 1s;
    z-index: 1;
}

header.animacion .logoh{
    position: absolute;
    font-size: 2em;
    left: 100px;
    transform: translate(0, -570%);
}

/*Recorrido*/
.recorrido{
    background-color: rgba(0, 0, 0, 0.678);
    width: 200px;
    text-align: center;
    position: relative;
    left: 83%;
    margin-top: 20px;
    border-radius: 5px;
}

.recorrido h1{
    margin-bottom: 10px;
    background-color: brown;
}

.recorrido a:hover{
    transition: all 0.3s ease-in-out;
    color: brown;
}

.recorrido h3{
    margin-top: 10px;
    margin-bottom: 5px;
}

/*Contenedor*/
.contenedorA{
    background-color: rgba(0, 0, 0, 0.527);
    width: 82%;
    margin-top: -520px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.contenedorA h1{
    color: brown;
    margin-bottom: 15px;
}

.contenedorA div{
    margin-bottom: 100px;
}

/*Informacion*/
#informacion{
    height: 500px;
}

#informacion img{
    position: relative;
    left: -250px;
    width: 300px;
}

#informacion .text{
    position: relative;
    left: 400px;
    bottom: 320px;
    width: 500px;
    text-align: start;
    font-size: 25px;
}

#informacion .text b{
    color: brown;
}


/*introduccion*/
#introduccion img{
    width: 450px;
}

/*Dificultad*/
#dificultad video{
    width: 600px;
}

#dificultad a{
    color: brown;
    transition: all 0.3s ease-in-out;
}

#dificultad a:hover{
    font-size: 20px;
}

/*Ashley*/
#ashley img{
    width: 500px;
}

/*curacion*/
#curacion b{
    color: brown;
}

/*Descarga*/
.requisitos{
    text-align: start;
    height: 300px;
}

.requisitos h1{
    border-bottom: 2px solid brown;
}

.requisitos b, h3{
    color: brown;
}

.minimo{
    width: 400px;
}

.recomendado{
    width: 400px;
    position: relative;
    left: 430px;
    bottom: 355px;
}

.descarga img{
    width: 400px;
    margin-right: 15px;
}

.descarga .mega{
    position: relative;
    top: 10px;
    height: 100px;
}

.descarga h1{
    border-bottom: 2px solid brown;
}

.descarga iframe{
    margin-right: 60px;
    margin-left: 50px;
}

/*Comentarios*/
.comentario{
    text-align: start;
    margin-top: 15px;
    padding: 50px;
}

.comentario img{
    position: relative;
    width: 45px;
    top: 15px;
}

#comentarios h1{
    border-bottom: 2px solid brown;
}

/*Input*/
.input {
    background-color: #212121;
    width: 500px;
    height: 40px;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid white;
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

.input:focus {
    color: brown;
    background-color: #212121;
    outline-color: brown;
    box-shadow: -3px -3px 15px brown;
    transition: .1s;
    transition-property: box-shadow;
}

/*Boton*/
button {
    font-family: inherit;
    font-size: 20px;
    background: brown;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    position: relative;
    left: 560px;
    bottom: 45px;
}

button .svg-wrapper-1{
    height: 1px;
    margin-bottom: 22px;
}

button .svg-wrapper{
    margin-bottom: 0px;
    height: 1px;
}

button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
    transform: translateX(5em);
}

button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
    transform: translateY(0.1em);
    }

    to {
    transform: translateY(-0.1em);
    }
}

/*Comunidad*/
.comunidad{
    text-align: start;
    padding: 50px;
    margin-top: -180px;
}

/*Validacion*/
.fa-exclamation-circle{
    color: #e74c3c;
    visibility: hidden;
    position: relative;
    left: -30px;
    top: 900%;
} 

.comentario small{
    color: #e74c3c;
    position: absolute;
    visibility: hidden;
    top: 965%;
    left: 180px;
}